@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./assets/css/primeng-custom.css";

@font-face {
  font-family: "Ethereal";
  src:
    local("Ethereal"),
    url("assets/fonts/Ethereal-Thin.otf") format("opentype")
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Ethereal";
}
