@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './assets/css/primeng-custom.css';

@font-face {
  font-family: 'Centaur';
  src: local('Ethereal'),
  url('assets/fonts/CENTAUR.ttf') format('truetype');
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Centaur', serif;
}

:root {
  --bolt-color: #dcb33e;
  --fire-color: #af2424;
  --water-color: #1044d1;
  --wind-color: #52ac57;
}

.bolt {
  color: var(--bolt-color);
}
.fire {
  color: var(--fire-color);
}
.water {
  color: var(--water-color);
}
.wind {
  color: var(--wind-color);
}

@media (min-width: 768px) {
  html {
    font-size: 0.35em;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 0.45em;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 0.55em;
  }
}
@media (min-width: 1201px) {
  html {
    font-size: 0.85em;
  }
}
